m-point-map-institutions {
  $redColor: #C64647;
  .list {
    overflow-y: scroll;
  }
  .animate {
    transition: all 0.5s ease-in-out;
  }
  #zoom-map {
    border-bottom-width: 1px;
  }
  #zoom-list {
    border-top-width: 1px;
  }
  .marker  {
    h1 {
      font-size: 15px;
      margin: 0 0 5px 0;
      padding: 0;
    }
    p {
      font-style: normal;
    }
    img {
      float: left;
      margin-right: 5px;
    }
    .info-problem-many-inst {
      color: #E89221 ;
    }

    .info-problem-clothes {
      color: #C14D4D ;
    }

    .info-problem-food {
      color: #68AF5B ;
    }

    .info-problem-pets {
      color: #5757A5 ;
    }

    .info-problem-blanket {
      color: #F58973 ;
    }
  }
  #zoom-list {
    p {
      margin: 10px auto;
      font-weight: 700;
    }
  }
  #zoom-map {
    p {
      margin: 5px 0 -5px 0;
      font-weight: 700;
    }
  }
  .button {
    width: 100%;
  }
  .red-button {
    background-color: $redColor;
    color: white;
    font-weight: 700;
  }
  .zoom-button {
    background-color: white;
    color: $redColor;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-style: solid;
    border-color: #aaa;
    text-align: -webkit-center;

    .ng-enter, .ng-leave.ng-leave-active {
      opacity:0;
    }

    .ng-leave, .ng-enter.ng-enter-active {
      opacity:1;
    }
  }
  .item-toggle {
    img {
      position: absolute;
      top: 15px;
      height: 22px;
    }

    span {
      margin-left: 35px;
    }
  }
  .ng-invalid.ng-touched{
    -webkit-box-shadow: 0px 0px 5px 0px $redColor;
    -moz-box-shadow: 0px 0px 5px 0px $redColor;
    box-shadow: 0px 0px 5px 0px $redColor;
    border-radius: 4px;
  }
}
