<m-moblet is-loading="isLoading" init="init" inner-scroll="true">
  <div id="wraper">
    <div id="zoom-map" class="zoom-button" ng-style="{'height':zoomMapButtonHeight}" ng-click="zoomMap()">
      <div class="zoom-buttom-wraper" ng-style="{'height':zoomMapButtonHeight}">
        <p>Mostrar mapa</p>
        <i class="icon ion-chevron-down"></i>
      </div>
    </div>
    <div id="m-point-map-1"ng-click="zoomMap()" ng-style="{'height':mapHeight}"></div>
    <div id="zoom-list" class="zoom-button" ng-style="{'height':zoomListButtonHeight}" ng-click="zoomList()">
      <div class="zoom-buttom-wraper" ng-style="{'height':zoomListButtonHeight}">

        <p><i class="icon ion-plus-round"></i>Adicionar um problema</p>
      </div>
    </div>
    <ion-scroll id="m-point-map-list" overflow-scroll="false" direction="y" delegate-handle="listMapScroll" ng-style="{'height':listHeight}" ng-click="zoomList()">
      <div class="list">
        <div class="item item-divider">
          Tipo de problema
        </div>
        <ion-toggle ng-repeat="(key, problem) in problems"
                    ng-model="problems[key]"
                    ng-checked="problemType">
          <img src="../svgs/{{ RESOURCE_DEF[key] }}-icon.svg"/> {{ key }}
        </ion-toggle>
        <div class="item">
          <button class="button red-button" ng-click="addMyLocation()">Enviar problemas</button>
        </div>

      </div>
    </ion-scroll>
  </div>
</m-moblet>
